@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.our-work {
    background-color: rgb(222, 43, 36);
    color: #ffffff;
}

.get-ypur-free {
    background-color: #1287bf;
    color: #ffffff;
}

.get-in {
    background-color: #2a2a2a;
    color: #cecece;
}

.content {
    padding-top: 120px;
    padding-bottom: 120px;
}

.block-title {
    text-align: center;
    margin-bottom: 50px;
}

.block-content {
    text-align: center;
    margin-bottom: 50px;
}

.cards-gallery {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    font-size: 0;
}

.card {
    display: inline-block;
    position: relative;
    width: 255px;
    height: 253px;
    background-color: #f35e59;
}

.card-text {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    width: 255px;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff; 
}

.card-text p {
    text-align: center;
}

.card-text-title {
    font-size: 26px;
}

.card-photo {
    align-items: center;
    width: 255px;
    height: 253px;
    align-items: center;
    overflow: hidden;
}

.white-space {
    display: inline-block;
    width: 50px;
    height: 5px;
    background-color: #f3f3f3;
}

.card-photo img {
    object-fit: cover;
    width: 255px;
    height: 253px;
}

.h1-description {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.button-down {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-top: 10px;
    background-color: rgba(70, 2, 255, 0);
    border: 3px solid #ffffff;
    border-radius: 50%;   
    transition: 0.2s;   
}

.close-button {
    position: absolute;
    width: 49px;
    height: 49px;
    right: -25px;
    top: -25px;
    font-size: 23px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    background-color: #de2b24;
    border: 2px solid #ffffff;
    border-radius: 50%; 
}

.close-button:hover {
    background-color: #e4453f;
}

.button-down:hover {
    transform: scale(1.1);
}

.drop-down-form {
    display: inline-block;
    position: relative;
    width: 684px;
    padding: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    background-color: #ffffff;
    color: #828282;
    border-radius: 5px;
}

.form-description {
    margin-bottom: 38px;
}

.form-control {
    display: block;
    width: 80%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 52px;
    padding: .375rem .75rem;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}


.form-control:focus {
    box-shadow: 0, 0, 5px, #1287bf;
    border: 1px solid #1287bf;
}


.btn {
    margin-top: 20px;
    height: 46px;
    padding: .375rem 2rem;
    text-align: center;
    border: 0;
    border-radius: 5px;
    background-color: #de2b24;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.btn:hover {
    background-color: #c0241f;
}

.get-in .content .block-title {
    color: white;
}

.social-icon {
    display: inline-block;
    position: relative;
    width: 49px;
    height: 49px;
    vertical-align: top;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: auto;
    background-color: rgba(243,243,243,0.0);
    border: 2px solid #515151;
    border-radius: 6px;
}

.social-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-icon:hover {
    border: 2px solid #de2b24;
}

.social-icons-group {
    vertical-align: top;
}

.content-paragraph {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #cecece;
}

.content-form {
    margin-top: 20px;
}

.content-form-control {
    width: 500px;
    height: 54px;
    background-color: #515151;
    border: 0;
    border-radius: 0px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: white;
}

.content-form-control::placeholder {
    color: #cecece;
}

.card-photo img {
    transition: 0.2s;
}

.card-photo img:hover {
    transform: scale(1.2);
}

footer .content {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    color: #cecece;
}

footer {
    background-color: #515151;
}

  

h1 {
    margin-bottom: .5rem;
    font-size: 36px;
    line-height: 26px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

img {
    vertical-align: middle;
}